<input #searchBox type="text" class="form-control" (keyup.enter)="search(searchBox.value)" placeholder="t.d. &quot;Matur&quot;...">

<h3 *ngIf="businessResults.length > 0">Fyrirtæki</h3>
<table class="table">
  <tr *ngFor="let business of businessResults">
    <td>
      <div class="row result-row">
        <div class="col-xs-4 col-sm-2">
          <img class="img-responsive center-block" *ngIf="business.logoUrl" [src]="business.logoUrl">
        </div>
        <div class="col-xs-8 col-sm-10">
          <span class="h4">{{business.name}}</span> <em class="text-muted">{{business.occupation}}</em><br>
          <ng-container *ngIf="business.address">
            {{business.address}}<br>
          </ng-container>
          <ng-container *ngFor="let type of business.companyType">
            <span class="text-muted">{{type}} </span>
          </ng-container>
        </div>
      </div>
    </td>
  </tr>
</table>

<h3 *ngIf="peopleResults.length > 0">Einstaklingar</h3>
<table class="table">
  <tr *ngFor="let person of peopleResults">
    <td>
      <div class="row result-row">
        <div class="col-xs-12">
          <span class="h4">{{person.first_name}} {{person.middle_name}} {{person.last_name}}</span> <em class="text-muted">{{person.occupation}}</em>
          <br>{{person.address}}
        </div>
      </div>
    </td>
  </tr>
</table>
