<div class="row">
  <div class="col-sm-6 col-sm-offset-3 col-xs-12">
    <div class="form-group">
      <div class="input-group">
        <input type="text" class="form-control" [(ngModel)]="queryString" (keyup.enter)="search()"
        placeholder="Leitaðu að t.d. &quot;Jón Jónsson&quot;, &quot;pizza&quot; eða &quot;verkstæði&quot;">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" (click)="search()"><i class="fa fa-search" aria-hidden="true"></i></button>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="row text-center"  *ngIf="businessResultsCount === 0 && peopleResultsCount === 0">
  <div class="col-xs-12">
    <p class="lead">Engar niðurstöður fundust fyrir "{{lastQueryString}}".</p>
  </div>
</div>

<div class="row" *ngIf="businessResultsCount > 0">
  <div class="col-xs-12">
    <div class="row">
      <h3>Fyrirtæki</h3>
      <span class="text-muted">{{businessResultsCount}} niðurstöður</span>
      <table class="table table-hover">
        <tr *ngFor="let business of businessResults">
          <td>
            <a [routerLink]="['/details', business.nationalIdNumber]">
              <div class="row result-row">
                <div class="col-xs-4 col-sm-2">
                  <img class="img-responsive center-block" *ngIf="business.logoUrl" [src]="business.logoUrl">
                  <div class="text-center logo-placeholder" *ngIf="!business.logoUrl">
                    <i class="fa fa-building fa-2x" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="col-xs-8 col-sm-10">
                  <span class="h4">{{business.name}}</span>
                  <em class="text-muted">{{business.occupation}}</em>
                  <br>
                  <ng-container *ngIf="business.address">
                    {{business.address}}, {{business.postalStation}}
                    <br>
                  </ng-container>
                  <ng-container *ngFor="let type of business.companyType">
                    <span class="text-muted">{{type}} </span>
                  </ng-container>
                </div>
              </div>
            </a>
          </td>
        </tr>
      </table>
    </div>
    <div class="row text-center more-results-row" *ngIf="lastBusinessItem < businessResultsCount">
      <button type="button" class="btn btn-default" (click)="getMoreResults('businesses')">Sækja fleiri niðurstöður</button>
    </div>
  </div>
</div>

<div class="row" *ngIf="peopleResultsCount > 0">
  <div class="col-xs-12">
    <div class="row">
      <h3>Einstaklingar</h3>
      <span class="text-muted">{{peopleResultsCount}} niðurstöður</span>
      <table class="table table-hover">
        <tr *ngFor="let person of peopleResults" [routerLink]="['/details', person.nationalIdNumber]">
          <td>
            <a [routerLink]="['/details', person.nationalIdNumber]">
              <div class="row result-row">
                <div class="col-xs-4 col-sm-2">
                  <img class="img-responsive center-block" *ngIf="person.logoUrl" [src]="person.logoUrl">
                  <div class="text-center logo-placeholder" *ngIf="!person.logoUrl">
                    <span class="fa fa-user fa-2x" aria-hidden="true"></span>
                  </div>
                </div>
                <div class="col-xs-8 col-sm-10">
                  <span class="h4">{{person.name}}</span>
                  <em class="text-muted">{{person.occupation}}</em>
                  <br>
                  <ng-container *ngIf="person.address">
                    {{person.address}}, {{person.postalStation}}
                  </ng-container>
                </div>
              </div>
            </a>
          </td>
        </tr>
      </table>
    </div>
    <div class="row text-center more-results-row" *ngIf="lastPersonItem < peopleResultsCount">
        <button type="button" class="btn btn-default" (click)="getMoreResults('people')">Sækja fleiri niðurstöður</button>
      </div>
  </div>
</div>
